MOUCHSIADIS_PROJECT_NAME=mouchsiadis-solutions
MOUCHSIADIS_ENV_FILE=/home/truegrind/envs/mouchsiadis-solutions.env
APP_PORT=3105
PROXY_UPSTREAM_ALIAS=mouchsiadis-solutions-web
ROOT_DOMAIN=mouchsiadis-solutions.com
WWW_DOMAIN=www.mouchsiadis-solutions.com
APP_URL=https://mouchsiadis-solutions.com
